.hero {
  margin-top: 4rem;
  margin-bottom: 25rem;
  padding: 4rem 2.5rem;

  p {
    font-weight: 300;
    opacity: 0.9;
  }

  @media (max-width: 980px) {
    padding: 0 2rem;
    margin-top: 1.5rem;
    margin-bottom: 4.8rem;
  }
  @media (max-width: 450px) {
    padding: 0 1rem;
  }
}

.copyWrapper {
  position: relative;
  z-index: 10;
  width: fit-content;
  margin: 4.8rem 0;
}

.title {
  font-size: var(--text-2xl);
  font-weight: 900;
  line-height: 1.1;

  span {
    color: var(--brand);
  }

  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }
}

.subTitle {
  font-size: var(--text-lg);
  line-height: 1.1;
  margin-top: 1.6rem;
  font-weight: 200;

  span {
    font-weight: bold;
    color: var(--brand);
  }
}

.aboutCopy {
  margin: 2.4rem 0;
  max-width: 700px;
  font-weight: 200;
}

.heroGrid {
  gap: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 980px) {
    flex-direction: column-reverse;
    align-items: start;
    flex-wrap: wrap;
  }

}

.breakline {
  display: static;
  @media (max-width: 800px) {
    display: none;
  }
}