.galleryWrapper {
  max-width: 1150px;
  margin: auto;

  padding: 2rem 2.5rem;

  @media (max-width: 768px) {
    padding: 6.5rem 1rem;
  }
}

.goBackBtn {
  display: inline-flex;
  position: absolute;
  left: 5rem;
  top: 5rem;

  transition: 0.2s;

  svg {
    transition: 0.2s;
    opacity: 0.5;
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1.5rem;
}

.filterTag {
  cursor: pointer;
  font-size: var(--text-xs);
  font-weight: 500;
  background: var(--background-light);
  padding: 0.5rem 1.5rem;
  border-radius: 999px;

  opacity: 0.5;
  transition: 0.2s;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    opacity: 1;
  }
}
.active {
  opacity: 1;
  color: whitesmoke;
}

.galleryItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    padding: 0rem 2rem;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    padding: 0rem 1rem;
  }
}

.itemCover {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: var(--background-light);
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 50%;
    translate: -50% 20%;

    transition: 0.25s all;

    border-radius: 0.4rem;
  }

  @media (max-width: 768px) {
    img {
      width: 85%;
      height: 90%;
    }
  }
}

.itemCopy {
  margin: 1.6rem 0;
}

.itemTitle {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  h4 {
    cursor: default;
    font-weight: bold;
    font-size: var(--text-sm);
    flex-shrink: 0;

    max-width: calc(100% - 150px);
    opacity: 0.75;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  a {
    opacity: 0.75;
    transition: 0.25s opacity;
  }

  a:hover {
    opacity: 1;
  }
}

.itemTitleLine {
  width: 100%;
  height: 1px;
  background: var(--text);
  opacity: 0.3;
}

.itemTech {
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin: 0.5rem 0;

  font-size: var(--text-xs);
  color: var(--brand);
  opacity: 0.8;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.goUpBtn {
  display: inline-flex;
  position: fixed;
  right: 3rem;

  padding: 0.6rem;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(25px); /* For safari */

  transition: 0.2s;

  svg {
    transition: 0.2s;
    opacity: 0.5;
  }

  &:hover {
    transform: translateY(-0.25rem);
    svg {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    right: 1rem;
    bottom: 1rem;
  }

}
