.searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchBar {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 2px solid red
}

.filter {
  display: flex;
  flex: 1;
  justify-content: center;
  border: 2px solid red;
  padding: 1rem 0
}

