.footer {
  width: 100%;
  padding: 2rem;
  background: var(--bg-opaque);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  p {
    font-size: var(--text-xs);
    opacity: 0.5;
  }

  ul {
    display: flex;
    gap: 2rem;
  }

  li {
    font-size: var(--text-xs);
    opacity: 0.5;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 480px) {
  }

  @media (max-width: 310px) {
  }
}
