.contactWrapper {
  max-width: 700px;
  margin: auto;  
  border-radius: 1.2rem;
}

.contactTitle {
  font-size: var(--text-2xl);
  text-align: center;
  font-weight: 900;
  line-height: 1;
  span {
    color: var(--brand);
  }
  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }

  @media (max-width: 360px) {
    font-size: var(--text-lg);
  }  

}

.contactCopy {
  text-align: center;
  font-weight: 200;
  margin: 2.4rem 0;
  a {
    color: var(--brand);
    font-weight: 400;
    transition: 0.2s;
    opacity: 0.8;
    border-bottom: 2px solid var(--background);
  }
  a:hover {
    opacity: 1;
    border-bottom: 2px solid var(--brand);
  }
}

.contactLinks {  
  margin-bottom: 1rem;
}

.contactLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: fit-content;
  font-size: var(--text-md);
  margin: auto;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  &:hover {
    color: var(--brand);
  }

  @media (max-width: 480px) {
    font-size: var(--text-sm);
    }  

  }


